<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="dmikostyuchenkogmail.onmicrosoft.com" />
    <add key="ida:WebClientId" value="7558b748-fed6-4a2c-b247-e60f4998f5e0" />
    <add key="ida:WebAppKey" value="MoWBwbVW4HzzJdX6WctnlgAryBB3SczkVv+6hkjvksU=" />
    <add key="ida:NativeClientId" value="5218d599-b419-4fc4-a9c8-d1b0ba4e151f" />
    <add key="ida:NativeRedirectUri" value="https://MyFirstAADApp" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="webapi:ResourceId" value="https://dmikostyuchenkogmail.onmicrosoft.com/WebAPITest" />
    <add key="webapi:BaseAddress" value="https://localhost:44305/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Xml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>